:root {
  --panel-color: rgb(30, 30, 30);
  --about-width: 450px;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
  font-family: "Cabin", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url(coffee.jpg);
  margin-top: 10px;
  padding: 0px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
ul {
  line-style-type: none;
}
li {
  display: inline;
  margin: 15px;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin: 0px;
}
#top-special {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}
.content {
  margin-top: 50px;
  width: 787px;
  height: 405px;
  background: rgba(204, 204, 204, 0.011);
}
.info {
  margin-left: 69px;
}

#info-name {
  font-size: 30px;
  margin: 0px;
  margin-top: 22px;
  letter-spacing: 2px;
}
#info-details {
  margin: 0px;
  margin-top: 13.5px;
  color: hsl(0, 0%, 80%);
  font-size: 13.5px;
}

#info-details-2 {
  border-bottom: 2px solid;
  margin-top: 13.5px;
  color: hsl(0, 0%, 90%);
  margin-right: 10px;
  font-size: 13.5px;
}

#description {
  font-size: 16.5px;
}
.browse {
  font-size: 30px;
  text-align: left;
  margin-right: 800px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 300px;
  height: 500px;
  background-color: var(--panel-color);
}
.main-menu {
  background-color: var(--panel-color);
  width: 800px;
  height: 500px;
  margin-left: 20px;
}
.drinks,
ul {
  margin: 0px;
  padding: 0px;
}

.drinks li {
  display: block;
  padding: 0px;
  border-bottom: 1px dashed;
}
.item-menu {
  margin-left: 15px;
}
.item-menu h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.item-menu p {
  margin: 0px;
}

.adress {
  width: var(--about-width);
  height: 200px;
  border-bottom: 1px dashed;
  margin-top: 90px;
  max-width: 50em;
}
.ask {
  max-width: 50em;
}
#line {
  border-bottom: 2px solid;
}
